<!-- base.html -->
<!doctype html>
<!-- begin base.html -->
<html lang="en">
 <head>
  <title>Midi Monitor</title>
 </head>

 <!-- public_header.html -->
 <h1 class="display-4" align="center" style="padding-top:20px; cursor: pointer;" onclick="window.location='{{url_for('index')}}';">MIDI Monitor</h1>

 <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-body border-bottom shadow-sm">
   <p class="h5 my-0 me-md-auto fw-normal"></p>
   <nav class="my-2 my-md-0 me-md-3">
     <a class="p-2 text-dark" href="{{url_for('index')}}">Monitor</a>
     <a class="p-2 text-dark" href="{{url_for('keymap')}}">KeyMap</a>
     <a class="p-2 text-dark" href="{{url_for('settings')}}">Settings</a>
   </nav>
 </header>

{% block main %}
{% endblock main %}
<!-- resume base.html -->
{% block footer %}

{% endblock footer%}
<meta id="copyright" value="Copyright 2021 Nate Dreger unless otherwise attributed">
</html>
<!-- end base.html -->
