<!-- io_form.html -->
<script src="static/js/functions.js"></script>
<script>
  $(document).ready(function() {
      // Connect to the Socket.IO server.
      // The connection URL has the following format, relative to the current page:
      //     http[s]://<domain>:<port>[/<namespace>]
      var socket = io();

      // Event handler for new connections.
      // The callback function is invoked when a connection with the
      // server is established.
      socket.on('connect', function() {
          socket.emit('get_settings', {data: 'I\'m connected!'});
      });
      socket.on('settings', function(msg, cb) {
          midi_mode = msg.midi_mode
          availableInputs = msg.availableInputs
          availableOutputs = msg.availableOutputs
          activeInput = msg.activeInput
          activeOutput = msg.activeOutput
          keymap = msg.keymap
          keyMapFile = msg.keyMapFile
          settings = msg.settings

          $('#log').prepend('<br>' + $('<div/>').text('Active Input: ' + activeInput).html());
          $('#log').prepend('<br>' + $('<div/>').text('Active Output: ' + activeOutput).html());


          // build the input list
          inputOptions = getIOoptions('inputs', availableInputs)
          build_options($("#inputs"), inputOptions, activeInput)

          // build the output list
          outputOptions = getIOoptions('outputs', availableOutputs)
          build_options($("#outputs"), outputOptions, activeOutput)

          $('#log').prepend('<br>' + $('<div/>').text('MIDI Mode: ' + midi_mode).html());
          if (cb)
              cb();
      });


      $('form#io').submit(function(event) {
          temp = [$('#inputs').val(), $('#outputs').val()]
          socket.emit('select_io', {data: temp });
          return false;
      });

      $("#rescan_io").click(function(event) {
          socket.emit('rescan_io');
          return false;
      });
  });
</script>

<form id="io" method="POST" action='#'>
  Select Input:
  <select name="inputs" id="inputs" label="Input">
    <!-- jquery fills in -->
  </select>

  Select Output:
  <select name="outputs" id="outputs" label="Output">
    <!-- jquery fills in -->
  </select>
  <input id="rescan_io" type="button" value="Rescan">
  <input type="submit" value="Apply">
</form>
