<!DOCTYPE HTML>
{% extends 'base.html' %}
{% block main%}<html>
<head>
    <title>MIDI Monitor - Keymap Editor</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <script src="static/js/functions.js"></script>
    <script type="text/javascript" charset="utf-8">

        function hide_fields() {
          $("#channel").css("display", "none");
          $("#new_note").css("display", "none");
          $("#pc").css("display", "none");
          $("#osc").css("display", "none");
          $("#osc_host").css("display", "none");
          $("#osc_port").css("display", "none");
          $("#mqtt_topic").css("display", "none");
          $("#mqtt_message").css("display", "none");
        }

        function show_fields(type) {
          hide_fields()
          switch (type) {
            case 'NOTE_ON':
              $("#new_note").css("display", "block");
              $("#channel").css("display", "block");
              break
            case 'PROGRAM_CHANGE':
              $("#pc").css("display", "block");
              $("#channel").css("display", "block");
              break
            case 'OSC':
              $("#osc").css("display", "block");
              $("#osc_host").css("display", "block");
              $("#osc_port").css("display", "block");
              break
            case 'MQTT':
              $("#mqtt").css("display", "block");
              $("#mqtt_topic").css("display", "block");
              $("#mqtt_message").css("display", "block");
          }
        }

        function clear_fields(){
          // alert('clear')
          $("#map_channel").val('');
          $("#map_note").val('')
          $("#map_pc").val('')
          $("#map_osc").val('')
          $("#osc_host").val('')
          $("#osc_port").val('')
          $("#mqtt_message").val('')
          $("#mqtt_topic").val('')
        }

        $(document).ready(function() {
            // Connect to the Socket.IO server.
            // The connection URL has the following format, relative to the current page:
            //     http[s]://<domain>:<port>[/<namespace>]
            // var socket = io();
            var mapDevice = ""
            var keyToMap = ""
            var keyMapFile = ""
            var keymap = []
            var mode = "view"
            var keyExists = false
            var availableKeymaps = []
            // Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
            socket.on('connect', function() {
                // socket.emit('get_settings', {data: 'I\'m connected!'});
                socket.emit('list_keymaps');
            });

            // Event handler for server sent data.
            // The callback function is invoked whenever the server emits data
            // to the client. The data is then displayed in the "Received"
            // section of the page.
            socket.on('midi_msg', function(msg, cb) {
                $('#log').prepend('<br>' + $('<div/>').text('Midi Received: ' + msg.data['device']+': ['+msg.data['midi']+']').html());
                console.log(msg.data)
                if (mode == "edit") {
                  if (msg.data['midi'][2] > 0) {
                    mapDevice = msg.data['device']
                    keyToMap = msg.data['midi'][1]
                    $("#press_key").css("display", "none");
                    $("#map_input").css("display", "block");
                    $('#device').text(mapDevice)
                    $('#note_to_map').text(keyToMap)
                    socket.emit('search_keymap', keymap, mapDevice, keyToMap)
                  }
                }
                if (cb)
                    cb();
            });

            socket.on('search_keymap_return', function(msg) {
              if (msg) {
                keyExists = true
                confirm('Note '+msg['note']+' on '+msg['input_device']+' is already mapped to '+ msg['type'])
                $("#map_type").val(msg['type'])
                // $('#'+$el.attr("id")+' option[value="'+activeOption+'"]').attr('selected','selected')
                show_fields(msg['type'])
                switch (msg['type']) {
                  case 'NOTE_ON':
                    $("#map_channel").val(msg['channel']);
                    $("#map_note").val(msg['new_note'])
                  case 'PROGRAM_CHANGE':
                    $("#map_channel").val(msg['channel']);
                    $("#map_pc").val(msg['value'])
                  case 'OSC':
                    $("#map_osc").val(msg['message'])
                    $("#osc_host").val(msg['host'])
                    $("#osc_port").val(msg['port'])
                  case 'MQTT':
                    $("#mqtt_topic").val(msg['topic'])
                    $("#mqtt_message").val(msg['message'])

                }
              }
            })

            socket.on('return_keymap_list', function(msg) {
              if (msg) {
                availableKeymaps = msg
                build_options($("#keymap_select"), availableKeymaps, keyMapFile)
              }
            })

            socket.on('midi_sent', function(msg, cb) {
                $('#log').prepend('<br>' + $('<div/>').text('Midi Sent: ' + msg.data).html());
                if (cb)
                    cb();
            });

            socket.on('confirm_io', function(msg, cb) {
                $('#log').prepend('<br>' + $('<div/>').text('Input: ' + msg.data['input'] + ' Output: ' + msg.data['output']).html());
                if (cb)
                    cb();
            });

            socket.on('my_response', function(msg, cb) {
                $('#log').prepend('<br>' + $('<div/>').text('Server Response: ' + msg.data).html());
                if (cb)
                    cb();
            });

            socket.on('outport', function(msg, cb) {
                $('#log').prepend('<br>' + $('<div/>').text('Output: ' + msg.outports[msg.port]).html());
                if (cb)
                    cb();
            });

            socket.on('settings', function(msg, cb) {
                availableInputs = msg.availableInputs
                availableOutputs = msg.availableOutputs
                activeInput = msg.activeInput
                activeOutput = msg.activeOutput
                settings = msg.settings
                keymap = msg.keymap
                keyMapFile = msg.keyMapFile

                $('#log').prepend('<br>' + $('<div/>').text('Keymap Loaded').html());

                $("#keymap").html("");
                $.each(keymap, function(key,value) {
                  $('#keymap').append('<br>' + $('<div/>').text(key + ': ' + JSON.stringify(value)).html());
                });
              });

            // Handlers for the different forms in the page.
            // These accept data from the user and send it to the server in a
            // variety of ways
            $('form#sendmidinote').submit(function(event) {
                temp = [$('#note_channel').val(), $('#note').val()]
                socket.emit('webMidiNoteIn', {data: temp});
                return false;
            });
            $('form#sendpc').submit(function(event) {
                temp = [$('#pc_channel').val(), $('#program').val()]
                socket.emit('webPCIn', {data: temp});
                return false;
            });


            $("#edit_keymap").click(function(event) {
                mode = "edit"
                hide_fields()
                $("#keymap_editor").css("display", "block");
                return false;
              });

            $("#keymap_done").click(function(event) {
                mode = "view"
                $("#press_key").css("display", "block");
                $("#keymap_editor").css("display", "none");
                $("#map_input").css("display", "none");
                $("#map_type").val('Select Type');
                clear_fields()
                return false;
              });

            $("#reload_keymap").click(function(event) {
              socket.emit('get_keymap');
              return false;
            });

            $("#open_keymap").click(function(event) {
              keyMapFile = $('#keymap_select').val()
              socket.emit('open_keymap', keyMapFile);
              return false;
            });

            $("#new_keymap_file").click(function(event) {
              let fileName = prompt("Enter Filename without extention", "exampleName");
              if (fileName != null) {
                socket.emit('new_keymap_file', fileName);
              }
              return false;
            });

            $("#save_keymap").click(function(event) {
                var new_mapping = {}
                var selValue = $('#map_type').val();

                new_mapping['input_device'] = mapDevice
                new_mapping['note'] = keyToMap
                new_mapping['type'] = selValue

                switch (selValue) {
                  case 'NOTE_ON':
                    new_mapping['channel'] = parseInt($("#map_channel").val())
                    new_mapping['new_note'] = parseInt($("#map_note").val())
                    break
                  case 'PROGRAM_CHANGE':
                    new_mapping['channel'] = parseInt($("#map_channel").val())
                    new_mapping['value'] = parseInt($("#map_pc").val())
                    break
                  case 'OSC':
                    new_mapping['message'] = $("#map_osc").val()
                    new_mapping['host'] = $("#osc_host").val()
                    new_mapping['port'] = parseInt($("#osc_port").val())
                    break
                  case 'MQTT':
                    new_mapping['topic'] = $("#mqtt_topic").val()
                    new_mapping['message'] = $("#mqtt_message").val()
                }

                new_mapping['output_device'] = 'Any'
                if (!keyExists) {
                  socket.emit('new_mapping', keyMapFile, new_mapping);
                }
                else {
                  socket.emit('modify_mapping', keyMapFile, new_mapping);
                }
                socket.emit('get_keymap');
                clear_fields()
                return false;
              });

            $("#map_type").change(function(event) {
                var selValue = $(this).val();
                show_fields(selValue)
                return false;
              });

            $('#del_keymap').click(function(event) {
                clear_fields()
                hide_fields()
                socket.emit('delete_mapping', keyMapFile, keyToMap, mapDevice)
                socket.emit('get_keymap');
                return false;
            })

            $('#clear').click(function(event) {
                $("#log").html("");
                return false;
            });
        });
    </script>
</head>

<body>
    <h1>Keymap</h1>
    {% include "io_form.html" %}
    <h2>Send:</h2>
    <form id="sendmidinote" method="POST" action='#'>
        <select name="note_channel" id="note_channel">
          {% for n in range(1,17) %}
            <option value="{{n}}">{{ n }}</option>
          {% endfor %}
        </select>
        <input type="number" min="0" max="127" name="note" id="note" placeholder="70" value="70">
        <input type="submit" value="Send Note">
    </form>
    <form id="sendpc" method="POST" action='#'>
        <select name="pc_channel" id="pc_channel">
          {% for n in range(1,17) %}
            <option value="{{n}}">{{ n }}</option>
          {% endfor %}
        </select>
        <input type="number" min="0" max="127" name="program" id="program" placeholder="9" value="9">
        <input type="submit" value="Send PC">
    </form>
    <!-- <form id="clear" method="POST" action="#">
        <input type="submit" value="Clear Log">
    </form> -->
    <input id="clear" type="button" value="Clear Log">

    <div>
      <select id="keymap_select">
      <input id="open_keymap" type="button" value="Open Keymap">
      </select>
    </div>
    <input id="new_keymap_file" type="button" value="New Map File">
    <input id="reload_keymap" type="button" value="Reload Keymap">
    <input id="edit_keymap" type="button" value="Edit">

    <div id="keymap_editor" style="display:none">
      <p>
        <div id="press_key">Press Key to Map</div>
        <div id="map_input" style="display:none">
          <span>Note to Map:</span>
          <span id="note_to_map" name="note_to_map"></span>
          <span>from:</span>
          <span id="device"></span><br>
          <input id="del_keymap" type="button" value="Delete">
        </div>
      </p>
      <p>
        <span> Map to:</span><br>
        <select name="map_type" id="map_type">
          <option>Select Type</option>
          <option value="NOTE_ON">NOTE_ON</option>
          <option value="PROGRAM_CHANGE">PROGRAM_CHANGE</option>
          <option value="OSC">OSC</option>
          <option value="MQTT">MQTT</option>
        </select>
        <div id="channel" style="display:none">
          <label for="map_channel">Channel:</label>
          <select name="map_channel" id="map_channel">
            {% for n in range(1,17) %}
              <option value="{{n}}">{{ n }}</option>
            {% endfor %}
          </select>
        </div>
        <div id="new_note" style="display:none">
          <label for="map_note">Note:</label>
          <input type="number" id="map_note" name="map_note">
        </div>
        <div id="pc" style="display:none">
          <label for="map_pc">Program Number:</label>
          <input type="number" id="map_pc" name="map_pc">
        </div>
        <div id="osc" style="display:none">
          <label for="map_osc">OSC Command:</label>
          <input type="text" id="map_osc" name="map_osc"><br>
          <label for="osc_host">OSC Host:</label>
          <input type="text" id="osc_host" name="osc_host"><br>
          <label for="osc_port">OSC Port:</label>
          <input type="text" id="osc_port" name="osc_port">
        </div>
        <div id="mqtt" style="display:none">
          <label for="mqtt_topic">Topic:</label>
          <input type="text" id="mqtt_topic" name="mqtt_topic"><br>
          <label for="mqtt_message">Message:</label>
          <input type="text" id="mqtt_message" name="mqtt_message"><br>
        </div>
      </p>
      <input type="button" id="save_keymap" value="Save">
      <input type="button" id="keymap_done" value="Done">
    </div>
    <h2>Keymap:</h2>
    <div id="keymap"></div>
    <h2>Info:</h2>
    <div id="log"></div>
</body>
</html>

{% endblock main%}
