<!DOCTYPE HTML>
{% extends 'base.html' %}
{% block main%}
<html>
<head>
  <title>MIDI Monitor - System Admin</title>

    <script type="text/javascript" charset="utf-8">

        $(document).ready(function() {


            $("#restart_midi").click(function(event) {
                socket.emit('restart_midi', true);
                return false;
              });

            $("#restart_server").click(function(event) {
                socket.emit('restart_server');
                return false;
              });

            $("#quit").click(function(event) {
                if (confirm("You want to Quit MidiMapper?")){
                  socket.emit('quit')
                }

                return false;
              });

            $("#reboot_host").click(function(event) {
                confirm("You want to Reboot Host Computer?");
                let passwd = prompt("Enter sudo password", "");
                socket.emit('reboot', passwd);
                return false;
              });

            $("#shutdown_host").click(function(event) {
                confirm("You want to Shutdown Host Computer?");
                let passwd = prompt("Enter sudo password", "");
                socket.emit('shutdown', passwd);
                return false;
              });

        });
    </script>
</head>

<body>
    <div style="padding-bottom:10px">
      <input id="restart_midi" type="button" value="Restart MIDI">
      <input id="restart_server" type="button" value="Restart Server">
      <input id="quit" type="button" value="Quit">
      <input id="reboot_host" type="button" value="Reboot Host">
      <input id="shutdown_host" type="button" value="Shutdown Host">
    </div>
</body>
</html>
{% endblock main%}
